    <div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Polymer, Angular and Bootstrap goodness in MVC4</a>
            <ul class="nav">
            </ul>
            <ul class="nav pull-right">
              <li class="navbar-text pull-right">@{Html.RenderPartial("_LoginStatus");}</li>
            </ul>
        </div>
      </div>
    </div>
